{% extends "base.html" %}
{% block title %}Профиль пользователя {{ author.get_full_name }}{% endblock %}
{% block content %}
<main role="main" class="container">
  <div class="row">
    {% include "profile_statistics.html" %}
    <div class="col-md-9">
      {% for post in page_obj %}
      {% include "post_item.html" with comment_button_able=True %}
      {% endfor %}
      {% if page_obj.has_other_pages %}
      {% include "paginator.html" with items=page_obj paginator=paginator %}
      {% endif %}
    </div>
  </div>
</main>
{% endblock %}