<div class="col col-md-2 mb-3 mt-1">
  <div class="card">
    <div class="card-body">
      <div class="h2">
        {{ author.get_full_name }}
      </div>
      <div class="h3 text-muted">
        @{{ author.username }}
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="h6 text-muted">
          Подписчиков: {{ author.count_of_following }}<br />
          Подписан: {{ author.count_of_follower }}
        </div>
      </li>
      <li class="list-group-item">
        <div class="h6 text-muted">
          Записей: {{ author.count_of_posts }}
        </div>
      </li>
    </ul>
  </div>
  {% if following %}
  <a href="{% url 'profile_unfollow' author.username %}" class="btn btn-primary btn-block btn-sm mt-3" role="button" aria-pressed="true">Отписаться</a>
  {% else %}
  <a href="{% url 'profile_follow' author.username %}" class="btn btn-primary btn-block btn-sm mt-3" role="button" aria-pressed="true">Подписаться</a>
  {% endif %}
</div>