{% extends "base.html" %}
{% block title %}{% if user.is_authenticated %}Редактирование профиля{% else %}Зарегистрироваться{% endif %}{% endblock %}
{% block content %}
{% load user_filters %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">{% if user.is_authenticated %}Редактировать профиль{% else %}Зарегистрироваться{% endif %}</div>
      <div class="card-body">
        <form method="post" action="{% if not user.is_authenticated %}{% url 'signup' %}{% else %}{% url 'edit_profile' user.username%}{% endif %}" enctype="multipart/form-data">
          {% csrf_token %}
          {% for form in forms %}
            {% for field in form %}
            <div class="form-group row">
              <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-md-right">{{ field.label }}{% if field.required %}<span class="required">*</span>{% endif %}</label>
              <div class="col-md-6">
                {% if field.errors %}
                {{ field|addClass:"form-control is-invalid" }}
                <div class="invalid-feedback">
                  {{ field.errors }}
                </div>
                {% else %}
                {{ field|addClass:"form-control" }}
                {% endif %}
                {% if field.help_text %}
                <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                {% endif %}
              </div>
            </div>
            {% endfor %}
          {% endfor %}
          <div class="col-md-6 offset-md-4">
            <button type="submit" class="btn btn-primary">{% if user.is_authenticated %}Сохранить{% else %}Зарегистрироваться{% endif %}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}