{% load user_filters %}
<!-- Комментарии -->
{% load thumbnail %}
<ul class="list-media pl-0">
{% for item in comments %}
<li class="media border">
  {% thumbnail item.author.profile.foto "64x64" as im %}
  <img src="{{ im.url }}" class="mr-3 my-3 ml-2 rounded-circle"/>
  {% empty %}
  {% load static %}
  <img src="{% static 'img/noavatar.png' %}" class="mr-3 my-3 ml-2 rounded-circle bg-light border" style="width: 64px; height: 64px"/>
  {% endthumbnail %}
  <div class="media-body">
    <div class="d-flex justify-content-left align-items-end">
      <h5 class="mt-3 mb-0"><a href="{% url 'profile' item.author.username %}" name="comment_{{ item.id }}">{{ item.author.username }}</a></h5>
      <small class="text-muted ml-3">{{ item.created }}</small>
    </div>
    <div class="my-2">
    {{ item.text|linebreaksbr }}
    </div>
  </div>
</li>
{% endfor %}
</ul>
<!-- Форма добавления комментария -->
{% if user.is_authenticated %}
<div class="card my-4">
  <form action="{% url 'add_comment' post.author.username post.id %}" method="post">
    {% csrf_token %}
    <h6 class="card-header">Добавить комментарий:</h6>
    <div class="card-body">
      <form>
        <div class="form-group">
          {{ new_comment_form.text|addClass:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
      </form>
    </div>
  </form>
</div>
{% endif %}