{% extends "base.html" %}
{% block title %} Последние обновления {% endblock %}
{% block content %}
<div class="row">
  {% include "menu.html" %}
  <div class="col py-3">
    <h1>Последние обновления на сайте</h1>
    {% load cache %}
    {% cache 20 index_page page.number%}
    {% if page.has_other_pages %}
    {% include "paginator.html" with items=page paginator=paginator %}
    {% endif %}
    {% for post in page %}
    {% include "post_item.html" with comment_button_able=True %}
    {% endfor %}
    {% if page.has_other_pages %}
    {% include "paginator.html" with items=page paginator=paginator %}
    {% endif %}
    {% endcache %}
  </div>
</div>
{% endblock %}