<nav class="navbar navbar-light sticky-top" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/"><span style="color: red">Ya</span>tube</a>
  <ul class="nav justify-content-end">
    {% if user.is_authenticated %}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Пользователь: {{ user.username }}</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'password_change' %}">Изменить пароль</a>
        <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
      </div>
    </li>
    <li class="nav-item mt-1">
      <a href="{% url 'new_post' %}" class="btn btn-outline-primary btn-sm"><i class="fas fa-feather"></i> Новая запись</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a href="{% url 'login' %}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Войти</a>
    </li>
    <li class="nav-item ml-2">
      <a href="{% url 'signup' %}" class="btn btn-outline-primary btn-sm" role="button" aria-pressed="true">Регистрация</a>
    </li>
    {% endif %}
  </ul>
</nav>