<div class="row no-gutters border rounded flex-md-row mb-4 shadow-sm position-relative">
  <div class="col-auto d-none d-lg-block py-3">
    {% load thumbnail %}
    {% thumbnail post.image "320x200" as im %}
    <a href="{% url 'post' post.author.username post.pk %}"><img class="card-image float" src="{{ im.url }}" style="margin:{{ im|margin:"320x200" }}"/></a>
    {% empty %}
    {% load static %}
    <img class="card-image" src="{% static 'img/no_image.png' %}"/>
    {% endthumbnail %}
  </div>
  <div class="col p-3 pl-4 d-flex flex-column position-static">
    <div class="d-flex d-lg-none justify-content-center">
      {% load thumbnail %}
      {% thumbnail post.image "550x340" as im %}
      <a href="{% url 'post' post.author.username post.pk %}"><img class="card-image" src="{{ im.url }}"></a>
      {% endthumbnail %}
    </div>
    <div class="card-text">
      <div class="d-flex justify-content-between align-items-center pb-2">
        <a href="{% url 'profile' post.author.username %}"><strong class="d-block text-gray-dark">@{{ post.author }}</strong></a>
        {% if not post.group is None %}
        <a class="text-reset" href="{% url 'group-posts' post.group.slug %}"><i class="fa fa-tag text-muted" ></i> {{ post.group }}</a>
        {% endif %}
      </div>
      <p class="text-justify">{{ post.text|truncatechars:'300' |linebreaksbr }}{% if post.text|length > 300 %}<a href="{% url 'post' post.author.username post.pk %}">читать полностью</a>{% endif %}</p>
    </div>
    <div class="d-flex justify-content-between align-items-center pt-3">
      <div class="btn-group ">
        {% if comment_button_able %}
        <a class="btn btn-sm text-muted" href="{% url 'post' post.author.username post.pk %}" role="button">Добавить комментарий</a>
        {% endif %}
        {% if user == post.author %}
        <a class="btn btn-sm text-muted" href="{% url 'post_edit' post.author.username post.pk %}" role="button">Редактировать</a>
        {% endif %}
      </div>
      <span>
        <i class="far fa-calendar-alt"></i>
        <small class="text-muted">{{ post.pub_date|date:"d M Y" }}</small>
      </span>
    </div>
  </div>
</div>