<div class="card mb-3 mt-1 shadow-sm">
    <div class="card-body">
        <p class="card-text">
            <a href="/{{ owner.username }}/"><strong class="d-block text-gray-dark">@{{ owner.username }}</strong></a>
            <p>{{ post.text|linebreaksbr }}</p>
        </p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group ">
                {% if comment_button_able %}
                    <a class="btn btn-sm text-muted" href="/{{ owner.username }}/{{ post.pk }}/" role="button">Добавить комментарий</a>
                {% endif %}
                {% if user == owner %}
                    <a class="btn btn-sm text-muted" href="/{{ owner.username }}/{{ post.pk }}/edit" role="button">Редактировать</a>
                {% endif %}
            </div>
            <small class="text-muted">{{ post.pub_date|date:"d M Y" }}</small>
        </div>
    </div>
</div>
