{% extends "base.html" %}

{% block title %}
    {% if form.instance.pk is None %}
        Добавить запись
    {% else %}
        Редактировать запись
    {% endif %}
{% endblock %}

{% load user_filters %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">
            <div class="card-header">
                {% if form.instance.pk is None %}
                    Новый пост
                {% else %}
                    Редактировать пост
                {% endif %}
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field|addClass:"form-control" }}
                        </div>
                    {% endfor %}

                    {% if form.instance.pk is None %}
                        <button type="submit" name="button" value="Create" class="btn btn-primary">Добавить</button>
                    {% else %}
                        <button type="submit" name="button" value="Update" class="btn btn-primary">Сохранить</button>
                        <button type="submit" name="button" value="Delete" class="btn btn-danger">Удалить</button>
                    {% endif %}
                </form>
            </div> <!-- card body -->
        </div> <!-- card -->
    </div> <!-- col -->
</div> <!-- row -->

{% endblock %}